$colorPrimary: #0056b4;
$colorPrimaryLight: #007aff;
// $colorPrimaryLighter: #;
// $colorPrimaryLightest: #;

$colorAccent: #00b3fb;
$colorAccentLight: #74e2ec;

$colorNeutral: #4c84ce;
$colorNeutralLight: #82a4da;

$colorGray: #e5e5e5;
$colorGrayDark: #848484;

$colorWhite: #ffffff;
$colorBlack: #000000;