@import "~src/sass/base/color";
@import "~src/sass/base/breakpoints";

$navigatorButtonWith: 256px;

.home-container {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
    background-image: url(~src/assets/img/fondo.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: cover;
}

.navigator {
    align-self: center;
    display: grid;
    grid-template-columns: $navigatorButtonWith;
    justify-content: center;
    padding: 1rem 0;
    &__title {
        font-weight: 500;
    }
    &__button {
        width: 100%;
        height: 270px;
        color: $colorPrimary;
        font-weight: 300;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition-property: background-image, color;
        transition-duration: 100ms;
        transition-timing-function: ease-in;

        display: flex;
        flex-direction: column;
        text-align: center;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 25px;
        justify-content: center;
        line-height: 1.2;
        font-size: 1.2rem;
        justify-self: center;
        &:hover {
            cursor: pointer;
            color: $colorWhite;
        }
        &--1 {
            background-image: url(~src/assets/img/buttons/boton-1.png);
            &:hover {
                background-image: url(~src/assets/img/buttons/boton-1-selected.png);
            }
        }
        &--2 {
            background-image: url(~src/assets/img/buttons/boton-2.png);
            &:hover {
                background-image: url(~src/assets/img/buttons/boton-2-selected.png);
            }
        }
        &--3 {
            background-image: url(~src/assets/img/buttons/boton-3.png);
            &:hover {
                background-image: url(~src/assets/img/buttons/boton-3-selected.png);
            }
        }
    }
}

@include md {
    .navigator {
        grid-template-columns: repeat(3, $navigatorButtonWith);
    }
}

@include lg {
    .navigator {
        padding: 0 7rem;
        grid-template-columns: repeat(3, 270px);
    }
    .home-container {
        background-size: cover;
        
    }
    
}
@include xl {
    .navigator {
        padding: 0 12rem;
    }
}
