<div class="home-container">
    <app-carousel></app-carousel>
    <div class="navigator">
        <a [routerLink]="routeContrataciones" class="navigator__button navigator__button--1">
            <span class="navigator__title">CONTRATACIONES</span> DIRECCTAS DURANTE LA EMERGENCIA SANITARIA
            <span>COVID-19</span>
        </a>
        <a [routerLink]="routeDonaciones" class="navigator__button navigator__button--2">
            <span class="navigator__title">DONACIONES</span> DURANTE LA EMERGENCIA SANITARIA <span>COVID-19</span>
        </a>
        <a [routerLink]="routePresupuesto" class="navigator__button navigator__button--3">
            <span class="navigator__title">EJECUCIÓN PRESUPUESTAL</span> DURANTE LA EMERGENCIA SANITARIA <span>COVID-19</span>
        </a>
    </div>
</div>