@import 'base/color';
@import 'base/breakpoints';

.form{
    display: grid;
}

.login{
    &__header{
        background-color: $colorPrimary;
        padding: 1rem;
    }
}


@include lg{
    .login{
        width: 50%;
        margin: auto;
    }
}