<div class="container">
    <div class="login mat-elevation-z8">
        <div class="login__header">
            <img src="assets/images/essalud-white.png" alt="Essalud">
        </div>
        <mat-card class="login__body mat-elevation-z">
            <form [formGroup]="form" autocomplete="off" (ngSubmit)="login()" class="form">
                <mat-form-field appearance="outline">
                    <mat-label>Usuario</mat-label>
                    <input matInput formControlName="usuario">
                    <mat-error *ngIf="usuarioField.hasError('required')">El usuario es obligatorio</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
                    <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" matTooltip="Mostrar contraseña">
                        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                    <mat-error *ngIf="passwordField.hasError('required')">La contraseña el obligatoria</mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary" [disabled]="isLoading" [class.spinner]="isLoading" type="submit">
                    Ingresar </button>
            </form>
        </mat-card>
    </div>
</div>