<mat-toolbar color="primary" class="toolbar">
    <mat-toolbar-row>
      <span>REPLACE_TITLE_APP</span>
      <span class="toolbar__spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>