.icons {
    display: grid;
    column-gap: 1rem;
    row-gap: 0.35rem;
    &__item {
        display: flex;
        align-items: center;
    }
    &__img {
        height: 3rem;
    }
    &__label {
        margin-bottom: 0;
        align-self: center;
        margin-left: 0.75rem;
        color: $colorAccent;
        font-size: 17pt;
        line-height: 28px;
    }
}

@media (min-width: 680px) {
    .icons {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 880px) {
    .icons {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1200px) {
    .icons {
        grid-auto-flow: column;
    }
}