.page {
    max-width: 100vw;
    height: 100%;
    padding: 1rem 1.5rem;
    &__header {
        padding-right: 5rem;
    }
    &__title {
        color: $colorPrimary;
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
        & > span {
            font-size: 1.7rem;
            font-weight: 600;
        }
        &--donacion{
            color: $colorPrimaryLight;
        }
        &--presupuesto{
            color: $colorAccent;
        }
    }
}

@include md{
    .page{
        padding: 1.35rem 2.5rem;
    }
}